body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

#table-header {
	background-color: rgb(135, 206, 260);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.data-header {
	text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  flex: 50%;
}

.flex-right {
  flex: 50%;
}

img {
  display: grid;
  width: 100%;
  height: auto;
  position: relative;
}

.text {
  text-align: left;
  font-size: 14px;
  color: red;
}

#decoration {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

circle {
  opacity: 50%;
  fill: rgb(255,0,0);
}

circle:hover {
  stroke: rgb(0, 0, 250);
  stroke-width: 5px;
}

rect {
  stroke: skyblue;
  stroke-width: 10px;
  fill: rgb(220, 20, 60);
}

rect:hover {
  fill: rgb(230,230,250);
}
