body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

#table-header {
	background-color: rgb(135, 206, 260);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

td {
  text-align: center;
}

.data-header {
	text-align: left;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
} 