body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

#table-header {
	background-color: rgb(135, 206, 260);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

td {
  text-align: center;
}

.data-header {
	text-align: left;
}

.flex-container {
  display: flex;
  width: %;
  object-fit: contain;
  align-content: center;
  flex-wrap: row;
}

.flex-container > div {
  margin: 5px;
  font-size: 30px;
  object-fit: contain;
} 

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#decoration {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

circle {
  opacity: 50%;
  fill: red;
}

circle:hover {
  stroke: rgb(0, 0, 250);
  stroke-width: 10px;
}

rect {
  stroke: skyblue;
  stroke-width: 10px;
  fill: rgb(220, 20, 60);
}

rect:hover {
  fill: lavender;
}


